# AI
.agent
.claude
.specify
.opencode
CLAUDE.md
specs
portugol_out/*

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
*.pytest_cache/
.ruff_cache/

# Universal / OS
.env*
.DS_Store
Thumbs.db
*.tmp
*.swp
portugol_out/
